<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Page</title>
</head>
<body>
    <h3>Member Page</h3>
    <div>Welcome <%= name %>!</div>
    <br>
    <h3>Comments</h3>
    <form method="post" action="/postMessage">
        Message <input type="text" name="content"><br>
        <input type="submit" value="Submit">
    </form>
    <hr>
    <% for(let i = 0; i < messages.length; i++){ %>
        <div>
            <b><%= messages[i].name %>:</b>
            <%= messages[i].content %>
        </div>
    <% } %>
    <hr>
    <a href="/signout">登出</a>
</body>
</html>
